.row
  .col-12
    .card.m-3.text-center
      .card-body
        - @albums.each do |album|
          %span{class: "zfm-text-#{album.color} px-0.5" }
            = album.title
        %span.zfm-text-gray
          Other
        - if local_assigns[:show_not_yet_seen]
          %br
          %span.bg-black
            not-yet-seen-live
