.row.d-none.d-lg-flex
  - @discography.selected_tracks(@all_songs).in_groups(3, false) do |tracks|
    .col-4
      %table.table.table-borderless.px-3
        %tbody
          - tracks.each do |track|
            = render partial: "track", object: track

.row.d-flex.d-lg-none
  .col-12
    %table.table.table-borderless.px-3
      %tbody
        - @discography.selected_tracks(@all_songs).each do |track|
          = render partial: "track", object: track
