.text-center
  - if spotify_user_authenticated?
    = button_to "Save as a spotify playlist", "/spotify", spotify_button_attributes
  - else
    = button_to "Log in to spotify", "/auth/spotify", spotify_button_attributes
