.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapseSongs", "aria-expanded" => "false", "data-bs-target" => "#collapseSongs", "data-bs-toggle" => "collapse", :type => "button"}
    Songs
  #collapseSongs.collapse
    %p.col-lg-8.mx-auto.lead
      = @songs

.zfm-divider
.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapseSetlists", "aria-expanded" => "false", "data-bs-target" => "#collapseSetlists", "data-bs-toggle" => "collapse", :type => "button"}
    Setlists
#collapseSetlists.collapse
  .row
    = render @setlists

.zfm-divider
.container
  %p.d-inline-flex.gap-1
  %button.btn.btn-dark.my-2{"aria-controls" => "collapsePlaylist", "aria-expanded" => "false", "data-bs-target" => "#collapsePlaylist", "data-bs-toggle" => "collapse", :type => "button"}
    Playlist
#collapsePlaylist.collapse
  .row
    .p-5.text-center.rounded-3
      = button_to '#', class: "btn btn-dark px-5 my-5", type: "button" do
        Log in to spotify
.zfm-divider

